absl-py==2.4.0
ackermann-msgs==2.0.2
action-msgs==2.3.0
action-tutorials-py==0.36.4
actionlib-msgs==5.5.1
actuator-msgs==0.0.1
ament-clang-format==0.19.2
ament-clang-tidy==0.19.2
ament-cmake-test==2.7.4
ament-copyright==0.19.2
ament-cppcheck==0.19.2
ament-cpplint==0.19.2
ament-flake8==0.19.2
ament-index-python==1.11.2
ament-lint==0.19.2
ament-lint-cmake==0.19.2
ament-package==0.17.2
ament-pep257==0.19.2
ament-uncrustify==0.19.2
ament-xmllint==0.19.2
angles==1.16.1
asttokens==3.0.1
builtin-interfaces==2.3.0
composition-interfaces==2.3.0
contourpy==1.3.3
control-msgs==6.7.0
controller-manager==5.11.3
controller-manager-msgs==5.11.3
cuda-bindings==13.2.0
cuda-pathfinder==1.5.4
cuda-toolkit==13.0.2
cv-bridge==4.1.0
cycler==0.12.1
decorator==5.3.1
demo-nodes-py==0.36.4
diagnostic-msgs==5.5.1
diagnostic-updater==4.3.6
dynamixel-easy-sdk==4.0.3
dynamixel-sdk==4.0.3
etils==1.14.0
example-interfaces==0.13.1
examples-rclpy-executors==0.20.6
examples-rclpy-minimal-action-client==0.20.6
examples-rclpy-minimal-action-server==0.20.6
examples-rclpy-minimal-client==0.20.6
examples-rclpy-minimal-publisher==0.20.6
examples-rclpy-minimal-service==0.20.6
examples-rclpy-minimal-subscriber==0.20.6
executing==2.2.1
filelock==3.29.0
fonttools==4.63.0
fsspec==2026.4.0
generate-parameter-library-py==0.6.0
geographic-msgs==1.0.6
geometry-msgs==5.5.1
glfw==2.10.0
gps-msgs==2.1.1
graph-msgs==0.2.0
image-geometry==4.1.0
ImageIO==2.37.3
interactive-markers==2.7.1
ipython==9.14.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
joint-state-publisher==2.4.1
joint-state-publisher-gui==2.4.1
kiwisolver==1.5.0
laser-geometry==2.10.2
launch==3.8.7
launch-catch-ros2==0.2.3
launch-param-builder==0.1.1
launch-pytest==3.8.7
launch-ros==0.28.5
launch-testing==3.8.7
launch-testing-ros==0.28.5
launch-xml==3.8.7
launch-yaml==3.8.7
lifecycle-msgs==2.3.0
logging-demo==0.36.4
map-msgs==2.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
matplotlib-inline==0.2.2
mavros==2.14.0
mavros-msgs==2.14.0
mediapy==1.2.6
message-filters==7.1.5
modern-robotics==1.1.1
moveit-configs-utils==2.14.1
moveit-msgs==2.7.1
mpmath==1.3.0
mujoco==3.8.1
mujoco-python-viewer==0.1.4
nav-msgs==5.5.1
nav2-msgs==1.4.2
networkx==3.6.1
numpy==2.4.6
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
osrf-pycommon==2.1.6
packaging==26.2
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
parso==0.8.7
pcl-msgs==1.0.0
pendulum-msgs==0.36.4
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
PyOpenGL==3.1.10
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-qt-binding==2.3.2
PyYAML==6.0.3
qt-dotgraph==2.9.2
qt-gui==2.9.2
qt-gui-cpp==2.9.2
qt-gui-py-common==2.9.2
quality-of-service-demo-py==0.36.4
rcl-interfaces==2.3.0
rclpy==9.1.4
rcutils==6.9.9
realsense2-camera-msgs==4.56.4
resource-retriever==3.7.1
rmw-dds-common==5.0.0
rmw-test-fixture-implementation==0.14.7
ros-gz-bridge==2.1.13
ros-gz-interfaces==2.1.13
ros-gz-sim==2.1.13
ros2action==0.38.2
ros2bag==0.32.0
ros2bag-mcap-cli==0.32.0
ros2bag-sqlite3-cli==0.32.0
ros2cli==0.38.2
ros2component==0.38.2
ros2controlcli==5.11.3
ros2doctor==0.38.2
ros2interface==0.38.2
ros2launch==0.28.5
ros2lifecycle==0.38.2
ros2multicast==0.38.2
ros2node==0.38.2
ros2param==0.38.2
ros2pkg==0.38.2
ros2plugin==5.6.2
ros2run==0.38.2
ros2service==0.38.2
ros2topic==0.38.2
rosbag2-interfaces==0.32.0
rosbag2-py==0.32.0
rosgraph-msgs==2.3.0
rosidl-adapter==4.9.6
rosidl-cli==4.9.6
rosidl-cmake==4.9.6
rosidl-generator-c==4.9.6
rosidl-generator-cpp==4.9.6
rosidl-generator-py==0.24.2
rosidl-generator-type-description==4.9.6
rosidl-parser==4.9.6
rosidl-pycommon==4.9.6
rosidl-runtime-py==0.14.1
rosidl-typesupport-c==3.3.3
rosidl-typesupport-cpp==3.3.3
rosidl-typesupport-fastrtps-c==3.8.2
rosidl-typesupport-fastrtps-cpp==3.8.2
rosidl-typesupport-introspection-c==4.9.6
rosidl-typesupport-introspection-cpp==4.9.6
rpyutils==0.6.3
rqt-action==2.3.0
rqt-bag==2.0.2
rqt-bag-plugins==2.0.2
rqt-console==2.3.2
rqt-graph==1.7.1
rqt-gui==1.9.2
rqt-gui-py==1.9.2
rqt-msg==1.6.0
rqt-plot==1.6.3
rqt-publisher==1.9.0
rqt-py-common==1.9.2
rqt-py-console==1.4.1
rqt-reconfigure==1.7.0
rqt-service-caller==1.4.0
rqt-shell==1.3.1
rqt-srv==1.3.0
rqt-tf-tree==1.0.5
rqt-topic==1.8.2
rviz-resource-interfaces==15.0.11
scipy==1.17.1
sensor-msgs==5.5.1
sensor-msgs-py==5.5.1
service-msgs==2.3.0
setuptools==81.0.0
shape-msgs==5.5.1
simulation-interfaces==1.3.0
six==1.17.0
srdfdom==2.0.8
sros2==0.15.4
stack-data==0.6.3
statistics-msgs==2.3.0
std-msgs==5.5.1
std-srvs==5.5.1
stereo-msgs==5.5.1
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tf-transformations==1.0.0
tf2-geometry-msgs==0.41.6
tf2-kdl==0.41.6
tf2-msgs==0.41.6
tf2-py==0.41.6
tf2-ros-py==0.41.6
tf2-sensor-msgs==0.41.6
tf2-tools==0.41.6
theora-image-transport==5.1.1
topic-monitor==0.36.4
torch==2.12.0
tqdm==4.67.3
traitlets==5.15.0
trajectory-msgs==5.5.1
triton==3.7.0
turtlesim-msgs==1.9.4
type-description-interfaces==2.3.0
typing_extensions==4.15.0
unique-identifier-msgs==2.7.0
urdfdom-py==1.2.1
vision-msgs==4.2.0
visualization-msgs==5.5.1
wcwidth==0.7.0
xacro==2.1.1
zipp==4.1.0
